body {
  margin-top: 20px;
  background-image: url("/public/imagesApp/weather.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(214, 237, 237);
  font-family: "Peralta", cursive;
  font-weight: 800;
}
h2,
h3,
h4 {
  font-weight: 900;
}
h4 {
  margin: 40px 0px;
}
h2 {
  text-decoration: underline;
  color: rgb(52, 15, 185);
}
.input-group {
  box-shadow: 10px;
  border: solid 4px;
  border-color: blue;
  border-radius: 8px;
}

.input-group-text {
  font-size: xx-large;
  font-weight: 600;
  border-right: solid 4px;
}

.form-control,
.btn {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 6px 20px;
}
.btn {
  background-color: #fff;
  border-left: solid 4px;
}
.mainWeather {
  margin: 100px 0px 100px 0px;
}
.card {
  border: solid 1px blue;
}
.form-control {
  font-size: 2.5vw;
}
.autor,
.git_link {
  color: white;
  margin-top: 300px;
  font-size: medium;
  font-weight: lighter;
}
.unit {
  position: relative;
  font-size: 18px;
  top: -20px;
  text-decoration: default;
}
#celsius,
#fahrenheit {
  color: rgb(52, 15, 185);
}

